.primero {

width: 50px;
height: 20%;
}

.box{
    border: 3px solid black;
width: 40px;
color: chocolate;
transition: background-color 0,5s ;
}

body{
display: flex;
position: relative;
height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;

}

.segundo {
    bottom: 0;

bottom: 0;
right: 0;
    width: 50px;
    
}

.box:hover{



}
